body{
font-family:sans-serif;
background:#f5f5f5;
margin:0;
}

/* 上タイトル */
header{
background:#0058A3;
color:white;
font-size:24px;
font-weight:bold;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

/* コンテンツエリア */
main{
display:flex;
justify-content:center;
padding:30px;
}

/* 診断ボックス */
#quiz, #result{
background:white;
padding:30px;
width:90%;
max-width:500px;
border-radius:10px;
text-align:center;
}

/* ボタン */
button{
display:block;
margin:10px auto;
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

/* 画像 */
img{
width:100%;
max-width:300px;
margin-top:20px;
}
